<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dinosilvestro.petpicker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <service
            android:name=".fetch.FetchAddressIntentService"
            android:exported="false"/>

        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ui.ShelterListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.ShelterDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PetGridActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.PetDetailActivity"
            android:screenOrientation="portrait"/>

        <provider
            android:name=".data.PetProvider"
            android:authorities="com.dinosilvestro.petpicker"
            android:exported="false"
            android:syncable="true"/>

        <activity
            android:name=".ui.PetPicksGridActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".widget.WidgetProvider"
            android:label="Pet Picker">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>

        <service
            android:name=".widget.WidgetRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>